<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="text-center">
      <h1 class="pt-4 text-success">TECH-BLOG</h1>
      <h5 class="text-warning-emphasis">Express Yourself</h5>
    </div>
    <div class="container mt-5">
      <div class="row secondary-container">
        <div class="col-lg-8">
          <h2>Latest Post</h2>
          <small>Frederic Lardinois</small>
          <img class="mt-2 img-fluid" src="img/bing_new_day.webp" alt="" />
        </div>
        <div class="col-lg-4 d-flex flex-column justify-content-between">
          <div>
            <h3>Second Post</h3>
            <small> Haje Jan Kamps</small>
            <img class="mt-1 img-fluid img-aside" src="img/bing_new_day.webp" alt="" />
            <hr />
          </div>
          <div>
            <h3>Third Post</h3>
            <small> Haje Jan Kamps</small>
            <img class="mt-1 img-fluid img-aside" src="img/bing_new_day.webp" alt="" />
            <hr />
          </div>
          <div>
            <h3>Fourth Post</h3>
            <small> Haje Jan Kamps</small>
            <img class="mt-1 img-fluid img-aside" src="img/bing_new_day.webp" alt="" />
          </div>
        </div>
      </div>
      <section>
        <h4 class="pt-5">Big news</h4>
        <div class="row mt-4">
          <hr />
          <h3 class="col-lg-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident dicta quibusdam quod quasi aut cum.</h3>
          <p class="col-lg-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos labore magni veniam ipsam architecto quaerat perferendis pariatur dolores reprehenderit reiciendis, voluptas rem praesentium excepturi expedita minima eos porro inventore maxime?</p>
          <img src="img/bing_new_day.webp" class="col-4 img-fluid" />
        </div>
        <div class="row mt-4">
          <hr />
          <h3 class="col-lg-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident dicta quibusdam quod quasi aut cum.</h3>
          <p class="col-lg-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos labore magni veniam ipsam architecto quaerat perferendis pariatur dolores reprehenderit reiciendis, voluptas rem praesentium excepturi expedita minima eos porro inventore maxime?</p>
          <img src="img/bing_new_day.webp" class="col-lg-4 img-fluid" />
        </div>
        <div class="row mt-4">
          <hr />
          <h3 class="col-lg-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident dicta quibusdam quod quasi aut cum.</h3>
          <p class="col-lg-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos labore magni veniam ipsam architecto quaerat perferendis pariatur dolores reprehenderit reiciendis, voluptas rem praesentium excepturi expedita minima eos porro inventore maxime?</p>
          <img src="img/bing_new_day.webp" class="col-lg-4 img-fluid" />
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
